/*============================================== CSS Document ========================================*/
/*=============================== CSS reset ==============================*/
html { font-size: 62.5%; color: #606060; font-family: Arial,Helvetica,sans-serif; height: 100%; }
body { font-size: 1.6rem; font-size: 16px \9; line-height: 26px; height: 100%; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, th, var { font-style: normal; font-weight: normal; }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
q:before, q:after { content: '' }
abbr, acronym { border: 0; }
h1, h2, h3, h4, strong, b { color: #444; }
h1 { font-size: 36px; line-height: 48px; color: #444; font-weight: normal; }
h2 { font-size: 30px; line-height: 42px; font-weight: normal; }
h3 { font-size: 24px; line-height: 28px; font-weight: normal; }
h4 { font-size: 16px; line-height: 26px;font-weight: bold;}
h5 { font-size: 14px; line-height: 24px; font-weight: bold; }
h2.f36 { font-size: 36px; line-height: 39px; color: #444; font-weight: normal; }
/*=============================== line-height ===============================*/
.lh14 { line-height: 14px; }
.lh18 { line-height: 18px; }
.lh24 { line-height: 24px; }
.lh26 { line-height: 26px; }
.lh30 { line-height: 30px; }
.lh34 { line-height: 34px; }
.lh150p { line-height: 150%; }
/*================================== font ===================================*/
.uppercase { text-transform: uppercase; }
.f075em { font-size: 0.75em; }
.f1em { font-size: 1em; }
.f12 { font-size: 12px; }
.f14 { font-size: 14px; line-height: 24px; }
.f16 { font-size: 16px; }
.f18 { font-size: 18px; }
.f20 { font-size: 20px; line-height: 25px; }
.f24 { font-size: 24px; line-height: 25px; }
.f30 { font-size: 30px; }
.f36 { font-size: 36px; }
.fb { font-weight: bold; }
.fn { font-weight: normal; }
.fontSb { font-weight: bold; }
.fontLt { font-weight: normal; }
.fontRl { font-weight: normal; }
.t2 { text-indent: 2em; }
/*============================== padding & margin ===========================*/
.p5 { padding: 5px; }
.p8 { padding: 8px; }
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p20 { padding: 20px; }
.ptb100 { padding: 100px 0; }
.pt5 { padding-top: 5px; }
.pt8 { padding-top: 8px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt25 { padding-top: 25px; }
.pt30 { padding-top: 30px; }
.pt35 { padding-top: 35px; }
.pt40 { padding-top: 40px; }
.pt45 { padding-top: 45px; }
.pt50 { padding-top: 50px; }
.pt60 { padding-top: 60px; }
.pt70 { padding-top: 70px; }
.pt80 { padding-top: 80px; }
.pt100 { padding-top: 100px; }
.pl10 { padding-left: 10px; }
.pl20 { padding-left: 20px; }
.pl30 { padding-left: 30px; }
.pl40 { padding-left: 40px; }
.pl45 { padding-left: 45px; }
.pl50 { padding-left: 50px; }
.pl60 { padding-left: 60px; }
.pl80 { padding-left: 80px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb30 { padding-bottom: 30px; }
.pb40 { padding-bottom: 40px; }
.pb50 { padding-bottom: 50px; }
.pb60 { padding-bottom: 60px; }
.pb70 { padding-bottom: 70px; }
.pb80 { padding-bottom: 80px; }
.pb100 { padding-bottom: 100px; }
.pr10 { padding-right: 10px; }
.pr20 { padding-right: 20px; }
.pr30 { padding-right: 30px; }
.pr40 { padding-right: 40px; }
.pr50 { padding-right: 50px; }
.pr60 { padding-right: 60px; }
.pr70 { padding-right: 70px; }
.plr30 { padding-left: 30px; padding-right: 30px; }
.m10 { margin: 10px; }
.m15 { margin: 15px; }
.m20 { margin: 20px; }
.m30 { margin: 30px; }
.m50 { margin: 50px; }
.m70 { margin: 70px; }
.mt0 { margin-top: 0 !important; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt35 { margin-top: 35px; }
.mt36 { margin-top: 36px; }
.mt40 { margin-top: 40px; }
.mt45 { margin-top: 45px; }
.mt50 { margin-top: 50px; }
.mt60 { margin-top: 60px; }
.mt70 { margin-top: 70px; }
.mt80 { margin-top: 80px; }
.mt100 { margin-top: 100px; }
.ml0 { margin-left: 0 !important; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml25 { margin-left: 25px; }
.ml30 { margin-left: 30px; }
.ml40 { margin-left: 40px; }
.ml45 { margin-left: 45px; }
.ml50 { margin-left: 50px; }
.ml60 { margin-left: 60px; }
.ml80 { margin-left: 80px; }
.ml100 { margin-left: 100px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.mb80 { margin-bottom: 80px; }
.mr0 { margin-right: 0 !important; }
.mr10 { margin-right: 10px; }
.mr20 { margin-right: 20px; }
.mr30 { margin-right: 30px; }
.mr40 { margin-right: 40px; }
.mauto { margin: 0 auto; }
/*================================== width & height ===============================*/
.w50p { width: 50%; }
.w80p { width: 80%; }
.w85p { width: 85%; }
.w90p { width: 90%; }
.w100p { width: 100%; }
.w20 { width: 20px; }
.w40 { width: 40px; }
.w50 { width: 50px; }
.w60 { width: 60px; }
.w70 { width: 70px; }
.w80 { width: 80px; }
.w100 { width: 100px; }
.w200 { width: 200px; }
.w300 { width: 300px; }
.w320 { width: 320px; }
.w325 { width: 325px; }
.w340 { width: 340px; }
.w350 { width: 350px; }
.w400 { width: 400px; }
.w450 { width: 450px; }
.w490 { width: 490px; }
.w500 { width: 500px; }
.w550 { width: 550px; }
.w600 { width: 600px; }
.w650 { width: 650px; }
.w700 { width: 700px; }
.w780 { width: 780px; }
.w800 { width: 800px; }
.w900 { width: 900px; }
.w980 { width: 980px; }
.h30 { height: 30px; }
.h40 { height: 40px; }
.h48 { height: 48px; }
.h50 { height: 50px; }
.h80 { height: 80px; }
.h100 { height: 100px; }
.mh400 { min-height: 400px; }
img, a { outline: none; }
p { line-height: 26px; margin: 10px 0 5px 0; }
/*================================== display ============================*/
.visible { visibility: visible; }
.hidden { display: none; }
.block { display: block; }
.inlineBlock { display: inline-block; }
.clearfix { clear: both; }
.clearfix:after { content: "."; display: inline-block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
/*================================== links ==============================*/
a:link { color: #606060; text-decoration: none; }
a:visited { color: #606060; text-decoration: none; }
a:active { color: #606060; text-decoration: none; }
a:hover { color: #fe8e14; }
a.orangelink { color: #fe8e14; }
a.orangelink:hover { border-bottom: solid 1px #fe8e14; }
a.graylink { border-bottom: solid 1px; }
a.graylink:hover { color: #fe8e14; }
a.blacklink { color: #444; border-bottom: solid 1px; font-weight: bold; }
a.blacklink:hover { color: #fe8e14; }
a.bluelink { color: #50a8e1; }
a.bluelink:hover { color: #5ebbd7; }
a.whitelink { border-bottom: solid 1px #fff; color: #fff; }
a.whitelink:hover { color: #f1f1f1; }
a.noUnderLine { text-decoration: none; }
a.ignoreHover:hover { color: inherit; }
/*=================================== background ========================*/
.bgGray { background: #f5f5f5; }
.bgWhite { background: #FFF; }
.bgOrange { background: #fe8e14; }
/*===================================== color ===========================*/
.fontOrange { color: #fe8e14 !important; }
.fontWhite { color: #fff !important; }
.fc0 { color: #000; }
.fc4 { color: #444 !important; }
.gray-border-right { border-right: solid 1px #ddd; }
.gray-border-top { border-top: solid 1px #ddd; }
.gray-border-bottom { border-bottom: solid 1px #ddd; }
.noborder { border: none !important; }
/*=================================== position ===========================*/   
.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
.fl { float: left; display: inline; }
.fr { float: right; display: inline; }
.cl { clear: both; }
.vm { vertical-align: middle; }
.vt { vertical-align: top; }
.vb { vertical-align: bottom; }
.pr { position: relative; }
.pa { position: absolute; }
.zoom { zoom: 1; }
/*===================================== list ==============================*/
ol, ul, li, dt, dd { list-style: none; margin: 0; padding: 0; }
.orange-li>li { padding-left: 15px; }
.list-numbers { list-style: decimal; list-style-position: inside; padding-left: 28px; }
.list-numbers>li { list-style: decimal; }
.list-circle { clear: both; padding-left: 20px; }
.list-circle>li { list-style: circle; }
.list-disc { clear: both; padding-left: 20px; }
.list-disc>li { list-style: disc; }
.list-square { clear: both; padding-left: 20px; }
.list-square>li { list-style: square; }
/*===================================== form ===============================*/
input, select { vertical-align: middle; }
input[type='text'] { outline: none; font-weight: normal; font-size: 14px; }
/*==================================== button ===============================*/
a.lgBtn35-orangeBg { display: inline-block; height: 35px; border: solid 1px #fe8e14; /*min-width: 80px; */ font-size: 14px; line-height: 34px; text-align: center; padding: 0 20px; border-radius: 22px; -webkit-border-radius: 22px; -moz-border-radius: 22px; -o-border-radius: 22px; background: #fe8e14; color: #fff; cursor: pointer; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -ms-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
a.lgBtn35-orangeBg:hover { color: #fff; background: #ff9f1f; border: solid 1px #ff9f1f; }
a.lgBtn35-orangeBg:active { color: #fff; background: #f99d31; border: solid 1px #f99d31; }
a.lgBtn35-orangeBg.plr30 { padding-left: 30px; padding-right: 30px; }
a.smlBtn32-orangeBg { display: inline-block; height: 30px; border: solid 1px #fe8e14; min-width: 80px; font-size: 14px; line-height: 30px; text-align: center; padding: 0 20px; border-radius: 18px; -webkit-border-radius: 18px; -moz-border-radius: 18px; -o-border-radius: 18px; background: #fe8e14; color: #fff; cursor: pointer; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -ms-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
a.smlBtn32-orangeBg:hover { color: #fe8e14; background: none; border: solid 1px #fe8e14; }
a.smlBtn32-whiteBg { display: inline-block; background: #fff; height: 30px; border: solid 1px #fe8e14; color: #fe8e14; min-width: 80px; font-size: 14px; line-height: 28px; text-align: center; padding: 0 20px; border-radius: 18px; -webkit-border-radius: 18px; -moz-border-radius: 18px; -o-border-radius: 18px; cursor: pointer; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -ms-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
a.smlBtn32-whiteBg:hover { color: #fff; background: #ff9f1f; border: solid 1px #ff9f1f; }
a.smlBtn32-whiteBg:active { color: #fff; background: #fe8e14; border: solid 1px #fe8e14; }
a.smlBtn32 { display: inline-block; height: 30px; border: solid 1px #fe8e14; color: #fe8e14; min-width: 80px; font-size: 14px; line-height: 28px; text-align: center; padding: 0 20px; border-radius: 18px; -webkit-border-radius: 18px; -moz-border-radius: 18px; -o-border-radius: 18px; cursor: pointer; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -ms-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
a.smlBtn32:hover { color: #fff; background: #ff9f1f; border: solid 1px #ff9f1f; }
a.smlBtn32:active { color: #fff; background: #fe8e14; border: solid 1px #fe8e14; }
/*==================================== frame ==================================*/
#wrapper { position: relative; height: auto; min-height: 100%; }
#container { position: relative; width: 100%; height: auto; min-height: 100%; background: #fff; }
.inner { width: 980px; overflow: hidden; height: auto; margin: 0 auto; }
.header-inner { width: 980px; margin: 0 auto; min-height: 90px; }
/*==================================== header =================================*/
#header { width: 100%; min-width: 980px; _width: 980px; height: auto; border-bottom: none; border-top: none; background: #fff; box-shadow: -2px 0 0 #fff, 0 0 0 #fff, 0 2px 6px rgba(0, 0, 0, .3), 2px 0 0 #fff; /*left-top-bottom-right*/ -moz-box-shadow: -2px 0 0 #fff, 0 0 0 #fff, 0 2px 6px rgba(0, 0, 0, .3), 2px 0 0 #fff; -webkit-box-shadow: -2px 0 0 #fff, 0 0 0 #fff, 0 2px 6px rgba(0, 0, 0, .2), 2px 0 0 #fff; }
#header a { display: inline-block; }
#ds-logo { display: block; width: 159px; height: 39px; margin-top: 25px; float: left; }
#ds-logo img { display: none; display: block \9; }
#action-nav { width: 270px; height: 50px; font-size: 14px; margin: 0; padding: 0; font-size: 14px; font-weight: normal; color: #606060; }
#action-nav li { float: right; line-height: 50px; vertical-align: middle; }
.action-tel { padding-left: 25px; }
.action-signin { max-width: 120px; margin-left: 20px; padding-left: 30px; }
.action-signin img { margin-top: 12px; margin-right: 10px; }
#cp-header { width: 270px; padding: 20px 0; height: 50px; float: right; position: relative; z-index: 9997; }
#overall-nav>li>a.current { color: #fe8e14; }
#overall-nav .nav-secondary.current { display: block; }
.action-tel {  }
.action-signin {  }
/*cookie-warn*/
#cookie-warn { display: none; width: 100%; height: 60px; line-height: 60px; text-align: left; background: #D8EDF8; color: #3a87ad; }
#cookie-warn p { margin: 0; line-height: 60px; }
#cookie-warn img { position: absolute; right: 15px; top: 20px; cursor: pointer; }
/*=========================== subNav ===============================*/
#subNav { width: 100%; height: 59px; border-top: solid 1px #ddd; border-bottom: solid 1px #ddd; background: #fff; z-index: 9990; }
.subNavShadow { position: fixed; top: -100px; box-shadow: 0 0 6px rgba(0, 0, 0, .3); -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .3); -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .3); }
#subNav a { display: inline-block; }
#subNav li { height: 59px; width: auto; line-height: 59px; float: left; font-size: 14px; }
.subNav-lt { height: 59px; width: auto; float: left; }
#subNav .to-home { padding: 0; width: 25px; margin-right: 5px; }
#subNav .to-home a { display: inline-block; width: 25px; height: 55px; }
.subNav-ct { height: 59px; width: auto; float: right; margin-right: 13px; }
.subNav-ct>li { padding: 0 8px; }
.subNav-ct>li>a { height: 57px; padding: 0 8px; position: relative; }
#subNav .lgBtn35-orangeBg { margin-top: 12px; float: right; }
.subNav-inner { width: 980px; margin: 0 auto; height: 100%; }
/*--- subNav-ct-more ---*/
#subNav a.dropdown-toggle .icon { display: block; position: relative; top: -16px; height: 8px; width: 10px; margin: 0 auto; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -ms-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
#subNav a.dropdown-toggle:hover .icon, #subNav a.dropdown-toggle.on .icon { }
/*#subNav a.dropdown-toggle.on .icon { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }*/
#subNav a.dropdown-toggle.on { color: #fe8e14; }
.subNav-ct-more { display: none; width: auto; height: auto; background: #f7f7f7; margin-top: 2px; }
#subNav .subNav-ct-more li { float: none; height: 35px; padding: 2px 5px; border-bottom: solid 1px #f7f7f7; margin-bottom: 2px; }
#subNav .subNav-ct-more li a { display: block; width: auto; padding: 0 5px; height: 37px; line-height: 37px; text-align: left; border-bottom: solid 1px #efefef; white-space: nowrap; }
#subNav .subNav-ct-more li:hover { background: #efefef; border-bottom: solid 1px #fe8e14; }
#subNav .subNav-ct-more li:hover a { border-bottom: solid 1px #fe8e14; }
/*=========================== nav =============================*/
.dropdown-toggle { cursor: pointer; }
#overall-nav .active { display: block; }
#overall-nav a.dropdown-toggle.active { color: #fe8e14; }
#overall-nav { height: 77px; float: left; padding: 13px 0 0 80px; }
#overall-nav>li { float: left; height: 77px; width: auto; }
#overall-nav>li>a { position: relative; z-index: 9994; display: inline-block; height: 55px; width: auto; padding: 10px 15px; line-height: 46px; font-size: 16px; }
#overall-nav .active { display: block; }
#overall-nav a.dropdown-toggle.active { color: #fe8e14; }
#overall-nav>li:hover a.dropdown-toggle { color: #fe8e14; border-bottom: solid 2px #fe8e14; }
#overall-nav>li:hover .nav-secondary { display: block; }
#bg-headerNav { width: 100px; height: 70px; position: absolute; left: 25px; z-index: 1000; }
.nav-secondary { display: none; position: absolute; z-index: 9992; left: 0; top: 89px; width: 100%; min-width: 980px; _width: 980px; height: auto; border-top: solid 1px #ccc; box-shadow: -2px 0 0 #fff, /*left*/ 0 0 0 #fff, /*top*/ 0 2px 6px #ccc, /*bottom*/ 2px 0 0 #fff; /*right*/ -moz-box-shadow: -2px 0 0 #fff, /*left*/ 0 0 0 #fff, /*top*/ 0 2px 6px #ccc, /*bottom*/ 2px 0 0 #fff; /*right*/ -webkit-box-shadow: -2px 0 0 #fff, /*left*/ 0 0 0 #fff, /*top*/ 0 2px 6px #ccc, /*bottom*/ 2px 0 0 #fff; /*right*/ padding: 30px 0 45px 0; font-size: 14px; background: #fff; border-bottom: solid 1px #ddd; }
.nav-secondary ul { float: left; width: auto; height: auto; }
.nav-secondary li { height: 26px; line-height: 26px; padding-left: 38px; }
#overall-nav .nav-products li.fontSb > a { cursor: default; color: #444; }
#nav-products-left { height: auto; float: left; padding: 0 60px 0 0; border-right: solid 1px #ccc; }
.nav-products h4 { padding-left: 38px; margin-bottom: 20px; position: relative; }
.nav-products h4 span { width: 29px; height: 30px; position: absolute; left: 0; }
.nav-products-dnt { margin: 0 25px; }
#nav-products-left h4 span { background-position: -25px center; }
#nav-products-right { height: auto; padding: 0 0 0 40px; width: auto; }
#nav-products-right h4 span { background-position: -53px center; }
.nav-download-IPS { margin: 0 148px; }
.nav-support-resource { margin: 0 170px; }
.nav-company-about { margin: 0 280px; }
.nav-buy-IPS { margin: 0 30px; }
.nav-buy-sales { border-left: solid 1px #aaa; margin-left: 30px; padding-left: 30px; }
.nav-buy-sales a, .nav-buy-sales .nav-Line { color: #aaa; }
.nav-buy-sales a:hover { color: #fe8e14; }
.nav-download li { height: auto; }
.nav-support .nav-Line, .nav-company .nav-Line { padding-bottom: 10px; }
.nav-Line { padding-bottom: 10px; position: relative; font-weight: bold; color: #444; font-size: 16px; margin-bottom: 8px; }
.nav-Line .nav-Line-icon { width: 29px; height: 30px; position: absolute; left: 0; }
.nav-buy-DSS .nav-Line-icon { background-position: 1px center; }
.nav-buy-IPS .nav-Line-icon { background-position: -26px center; }
.nav-buy-VCS .nav-Line-icon { background-position: -54px center; }
.nav-buy-sales .nav-Line-icon { background-position: -86px center; }
.nav-download-DSS .nav-Line-icon { background-position: 1px center; }
.nav-download-IPS .nav-Line-icon { background-position: -25px center; }
.nav-download-VCS .nav-Line-icon { background-position: -54px center; }
.nav-support-products .nav-Line-icon { background-position: -160px -2px; }
.nav-support-resource .nav-Line-icon { background-position: -125px -3px; width: 31px; }
.nav-support-contact .nav-Line-icon { background-position: -315px -2px; }
.nav-company-who .nav-Line-icon { background-position: -200px -3px; }
.nav-company-about .nav-Line-icon { background-position: -240px -1px; }
.nav-company-blog .nav-Line-icon { background-position: -275px -5px; }
/*==========================  main ==============================*/
#main { width: 100%; height: auto; min-height: 100px; background-color: #fff;}
/*========================== footer =============================*/
#footer { position: absolute; bottom: 0; width: 100%; height: 350px; color: #aaa; }
#footer-top { width: 100%; height: 300px; padding: 50px 0 10px; background: #333; min-width: 980px; _width: 980px; }
.introduceDynam { width: 200px; margin-right: 30px; height: auto; overflow: hidden; float: left; font-size: 12px; }
.introduceDynam .ds-logo { display: block; width: 159px; height: 39px; }
.introduceDynam .ds-logo img { display: none; display: block \9; }
.introduceDynam hr { margin: 20px 0 12px 0; height: 2px; background: #fe8e14; width: 105px; border: none; text-align: left; }
.introduceDynam p { margin-top: 0; }
#footer-top ul { margin: 10px 0 0 79px; float: left; }
#footer-top .footer-contact li>p { width: 160px; line-height: 22px; }
#footer-top ul li { width: auto; line-height: 28px; font-size: 12px; }
#footer-top ul li a { color: #aaa; font-size: 12px; }
#footer-top ul li a:hover { color: #fff; }
.footer-group-title { color: #fe8e14; margin: 15px 0; }
#footer-bottom { width: 100%; height: 50px; background: #171717; min-width: 980px; _width: 980px; line-height: 50px; font-size: 12px; }
#footer-bottom span a { color: #aaa; }
#footer-bottom span a:hover { color: #fff; }
.footer-link a { width: 30px; height: 30px; display: block; float: left; margin: 10px 15px 0 0; }
.footer-link .footer-link1 { background-position: center -120px; }
.footer-link .footer-link2 { background-position: center -150px; }
.footer-link .footer-link3 { background-position: center -180px; }
.footer-link .footer-link4 { background-position: center -210px; }
.footer-link .footer-link1:hover { background-position: center 0; }
.footer-link .footer-link2:hover { background-position: center -30px; }
.footer-link .footer-link3:hover { background-position: center -60px; }
.footer-link .footer-link4:hover { background-position: center -90px; }
iframe[name='google_conversion_frame'] { display: none; position: absolute; bottom: 0; line-height: 0 !important; font-size: 0 !important; margin: 0; }
a#toTop { position: fixed; _position: absolute; bottom: 30px; right: 2%; width: 46px; height: 45px; float: right; }
a#toTop:hover { }
/*========================== tooltip =============================*/
#tooltip { border: 1px solid #CCC; -moz-border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; border-radius: 6px 6px 6px 6px; background: url(http://www.dynamsoft.com/assets/images/blkTransparent.png) top left repeat; position: absolute; z-index: 9999; color: #fff; font-size: 11px; width: 220px; }
#tooltip .tipBody { background-color: #333; padding: 5px 5px 5px 15px; opacity: 0.8; -moz-border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; border-radius: 6px 6px 6px 6px; line-height: 19px; }
/*======================  mask layer ==============================*/
#mask { position: absolute; left: 0; top: 0; z-index: 9997; background: #000; opacity: 0.8; }
#quote.window { position: fixed; left: 0; top: 0; float: left; display: none; z-index: 9999; padding: 20px; margin-bottom: 20px; }
a.close { float: right; margin-top: 15px; display: block; width: 49px; height: 13px; }
/*==== bootstrap-tooltip ====*/
.tooltip { position: absolute; z-index: 1070; display: block; font-size: 12px; font-style: normal; font-weight: normal; line-height: 1.42857143; text-align: left; text-align: start; text-decoration: none; text-shadow: none; text-transform: none; letter-spacing: normal; word-break: normal; word-spacing: normal; word-wrap: normal; white-space: normal; filter: alpha(opacity=0); opacity: 0; line-break: auto; }
.tooltip.in { filter: alpha(opacity=100); opacity: 1; }
.tooltip.top { padding: 5px 0; margin-top: -3px; }
.tooltip-inner { max-width: 200px; padding: 10px 15px 12px; color: #fff; text-align: center; background-color: #c7c7c7; border-radius: 4px; }
.tooltip-arrow { position: absolute; width: 0; height: 0; border-color: transparent; border-style: solid; }
.tooltip.top .tooltip-arrow { bottom: 0; left: 50%; margin-left: -5px; border-width: 5px 5px 0; border-top-color: #c7c7c7; }
 @media (max-width: 767px) {
#comm100-float-button-2 { display: none; }
}
@media (min-width: 768px) and (max-width: 991px) {
#comm100-float-button-2 { display: block; }
}
@media (min-width: 992px) and (max-width: 1199px) {
#comm100-float-button-2 { display: block; }
}
@media (min-width: 1200px) {
#comm100-float-button-2 { display: block; }
}
